.form {
    box-shadow: 0 0 30px #e3e4ed5e;
    border: 2px solid rgba(255, 255, 255, .18);
    border-radius: 8px;
    padding: 20px;
    min-height: 50vh;
    max-width: 100%;
}


.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: start;
    color: #00cbff80;
}
.field {
	border-style: none;
	border-radius: 8px;
	padding-block: 8px;
	padding-inline: 12px;
	width: 100%;
	margin-bottom: 30px;
}
.btn{
	border-radius: 8px;
    padding: 10px 20px;
    background-color: #3430324a;
    color: white;
    cursor: pointer;
	
}