.nav {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 18px;
  }
  
  .link.active {
    color: firebrick;
  }
  