.nav {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 18px;
  color: whitesmoke;
  }
  
  .link.active {
    color: firebrick;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .link {
      display: flex;
      font-size: 12px;
      padding: 5px;
      flex-direction: column;
  }
  

    .nav {

        gap: 5px;
    }

} 