.contactContext {
	display: flex;
	gap: 10px;
	align-items: center;
	color: whitesmoke;
}
.contactItem {
	border: 2px solid #ececec;
    padding: 15px 25px;
    border-radius: 8px;
    gap: 20px;
    max-width: 100%;
    box-shadow: 4px 4px 8px rgb(0 203 255 / 50%);
    align-items: center;
}
.btn {
	font-size: 16px;
	padding: 8px;
	margin-top: 15px;
	background-color: transparent;
	color: #ececec;
	border-radius: 8px;
	border: 2px solid #ececec;
	box-shadow: 4px 4px 8px rgb(0 203 255 / 50%);
	width: 100%;
}
.btn:hover {
	background-color: #ececec80;
	border: 2px solid #00cbff80;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .contactItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        span {

            text-align: center;

            border-right: unset;
        }

        .btn {
            width: 100px;
        }
    }
}