.list {
  display: flex;
    gap: 10px;
}
.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    font-size: 18px;
    color: whitesmoke;
    }
  
  .link.hover {
    color: firebrick;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .link {
        font-size: 12px;
    }

}