:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .container{
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px #e3e4ed5e;
  border: 2px solid rgba(255, 255, 255, .18);
  border-radius: 8px;
  padding: 20px;
  min-height: 80vh;
} */
a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: #f10a0a;
}

body {
  background-color: rgb(185, 106, 106);
  margin: 0 auto;
  border-radius: 12px;
  padding: 30px;
  max-width: 100%;
}

h1 {
  font-size: 36px;
  line-height: 1.1;
  color:whitesmoke;
  margin-right: 20px;
}
li {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  margin-top: 25px;
  width: 100%;
  background-color: transparent;
  color: #ececec;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 2px solid #ececec;
  box-shadow: 4px 4px 8px rgb(0 203 255 / 50%);
  cursor: pointer;
}
button:hover {
  border-color: #f1cedb4a
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: tomato;
  }
  a:active{
    color:#f10a0a;
  }
  button {
    background-color: #f9f9f9;
    
  }
}
