.list{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
padding: 0;

}
/* .contacts_item {
    border: 2px solid #ececec;
    padding: 15px 25px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
    box-shadow: 4px 4px 8px rgb(0 203 255 / 50%);
    align-items: center;
} */