.container{
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px #e3e4ed5e;
    border: 2px solid rgba(255, 255, 255, .18);
    border-radius: 8px;
    padding: 20px;
    min-height: 80vh;
}
.title{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #00cbff7f;
    margin-bottom: 20px;
    font-weight: 700;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px rgba(227, 228, 237, 0.37);
}

.text{
    font-size: 18px;
    font-weight: 500;
    color: #00cbff7f;
    line-height: 1.5;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(227, 228, 237, 0.37);
}
@media screen and (min-width: 768px) {
    .container{
        
        img {
            width: 768px;
            height: 768px;
        }

        title {
            max-width: 600px;
            font-size: 60px;
        }
    }
}

@media screen and (min-width: 1280px) {

    .wrapper {

        img {

            width: 1280px;
            height: 1280px;
        }

        title {
            font-size: 80px;
        }
    }
}