.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    max-width: 100%;
}
.btn{
	border-radius: 8px;
    gap: 8px;
    margin-bottom: 25px;
    padding: 10px 20px;
    background-color: #781b3f4a;
    color: white;
    cursor: pointer;
	
}