.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    max-width: 100%;
    color: tomato;
}
.btn{
    display: flex;
	border-radius: 8px;
    gap: 12px;
    margin-bottom: 25px;
    padding: 10px 20px;
    background-color: #3430324a;
    color: white;
    cursor: pointer;
	
}